<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="login-form">
        <div class="image">
            <img src="../../assets/images/Group 4.svg" alt="">
        </div>
        <div class="inputs-form">
            <div class="input-item-form">
                <p class="text-info">Usuário:</p>
                <input type="text" class="box-info">
            </div>
            <div class="input-item-form">
                <p class="text-info">Senha:</p>
            <input type="password" class="box-info">
            </div>
        </div>
        <div class="buttons">
            <div class="button-login">
                <button class="login">LOGIN</button>
            </div>
            <div class="button-register">
                <button class="cadastro">CRIAR CONTA</button>
            </div>
        </div>
    </div>
</div>
<app-footer-bar></app-footer-bar>
