<div class="nav-bar">
    <div class="name-logo">TrucoStars</div>
    <div class="icons">
        <div class="icon-1">
            <img src="../../../assets/images/suit-club-fill.svg" alt="">
        </div>
        <div class="icon-2">
            <img src="../../../assets/images/suit-diamond-fill.svg" alt="">
        </div>
        <div class="icon-3">
            <img src="../../../assets/images/suit-heart-fill.svg" alt="">
        </div>
        <div class="icon-4">
            <img src="../../../assets/images/suit-spade-fill.svg" alt="">
        </div>
    </div>
</div>