<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="register-form">
        <form class="form">
            <div class="inputs-form" [formGroup] ="form">
                <div class="input-item-form">
                    <p class="text-info">Nome de Usuário:</p>
                    <input formControlName="user" type="text" class="box-info">
                </div>
                <div class="input-item-form">
                    <p class="text-info">Senha:</p>
                    <input formControlName="password" type="password" class="box-info">
                </div>
                <div class="input-item-form">
                    <p class="text-info">Confirme a senha:</p>
                    <input formControlName="password_confirm" type="password" class="box-info">
                </div>
                <div class="input-item-form">
                    <p class="text-info">Email:</p>
                    <input formControlName="email" type="email" class="box-info">
                </div>
            </div>
        </form>
        <div class="buttons">
            <div class="button-register-div">
                <button class="register-button">CRIAR CONTA</button>
            </div>
        </div>
    </div>
</div>
<app-footer-bar></app-footer-bar>
